<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading" style="color: #DF7401">Oops</h1>
                    <p class="intro-text" style="color: #DF7401">We have encountered an error. Please contact us at support@indiepages.io if the problem persists.</p>
                </div>
            </div>
        </div>
    </div>
</header>
