<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">indiepages</h1>
                    <p class="intro-text">Bibliophiles only.</p>
                    <a href="/auth/facebook" class="btn btn-social btn-facebook">
                      <i class="fa fa-facebook"></i> Sign in with Facebook
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
