<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading" style="color: #DF7401">indiepages</h1>
                    <p class="intro-text" style="color: #0B2161">Bibliophiles only.</p>
                    <a href="/auth/facebook" class="btn btn-social btn-facebook" ng-if="!authenticated">
                      <i class="fa fa-facebook"></i> Sign in with Facebook
                    </a>
                </div>
                <div class="row" ng-if="authenticated">
                    <div class="col-md-4"><h1>Reader</h1></div>
                    <div class="col-md-4"><a ui-sref="writer"><h1>Writer</h1></a></div>
                    <div class="col-md-4"><h1>Professional</h1></div>
                </div>
            </div>
        </div>
    </div>
</header>
